{% extends 'base.html' %}
{% block title %}Оплата
{% endblock %}
{% block content %}

<div class="container col-xxl-3 col-xl-4 col-lg-5  col-md-6 col-sm-9 col-12">

  <div class="row  justify-content-center  border border-primary">

    <div class="row justify-content-center ">
        <div class="col-12 justify-content-center align-content-center"><br>
            <span>Проиведите оплату на сумму {{ payment.amount }} согласно инструкции<br></span><br>
            {% include 'includes/timer.html' %}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 justify-center">
        {% include 'payment/credit_card.html' %}
        </div>
    </div>

    <div class="row justify-content-center">
          <div class=col-12 justify-center"><br>
              <span>{{ payment.pay_requisite.info }}</span>
              <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      {% include 'includes/form_fields.html' %}
                    <input id="confirm_btn" class="btn btn-success btn-lg" type="submit" value="Оплатил и приложил чек">
                </form>
    </div>



    <div class="row justify-content-center">
          <div class="col-12 justify-center">
              <span id="time_exp_info1" style="display: none"><p>Время вышло</p></span>
          </div>
    </div>

  </div>
</div>




{% endblock %}

