{% load static %}
{% with request.resolver_match.view_name as view_name %}
{% with request.resolver_match.app_name as app_name %}
<div class="container">
  <nav class="navbar navbar-expand-md bg-body-tertiary">

    <a class="navbar-brand" href="{% url 'deposit:deposits' %}">
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">asu-payme</span>.com
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle {% if app_name == 'posts' %}link-danger{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Меню админа
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'deposit:stats_card' %}">Статистика по картам</a></li>
            <li><a class="dropdown-item" href="{% url 'deposit:stats_day' %}">Статистика по дням</a></li>
            <li><a class="dropdown-item" href="{% url 'deposit:stats' %}">Карты + дни</a></li>
            <li><a class="dropdown-item" href="{% url 'deposit:graph' %}">График</a></li>
            <li><a class="dropdown-item" href="{% url 'deposit:check_sms' %}">Проверить смс</a></li>
            <li><a class="dropdown-item" href="{% url 'deposit:incoming_checks' %}">Проверка бирпай</a></li>
          </ul>
        </li>
      </ul>
    </div>

    {% if user.is_superuser %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle {% if app_name == 'posts' %}link-danger{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            OCR
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'ocr:screen_list' %}">Список OCR</a></li>
            <li><a class="dropdown-item" href="{% url 'ocr:screen_create' %}">Создать новый OCR</a></li>
          </ul>
        </li>
      </ul>
    </div>
    {% endif %}

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#          <li class="nav-item">#}
{#          <a class="nav-link"href="{% url 'deposit:deposits_pending' %}">Депозиты</a>#}
{#          </li>#}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'deposit:incomings' %}">Платежи</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
          </li>
      </ul>


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Пользователь: {{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if view_name  == 'users:login' %}
                active
              {% endif %}" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light
              {% if view_name  == 'users:signup' %}
                active
              {% endif %}
              "href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>


  </nav>
    {% load mathfilters %}
    {% with user.profile.all_message_count|sub:user.profile.read_message_count as message_count %}
      <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-md-3">
              <a class="btn{% if user.profile.read_message_count != user.profile.all_message_count %} btn-danger{% else %} btn-light{% endif %}"
                href="{% url 'deposit:messages' %}">Сообщения {{ message_count }}</a>
            </div>
        </div>
      </div>
    {% endwith %}




</div>
{% endwith %}
{% endwith %}