<table id="table" class="table w-auto table-hover table-bordered" style="font-size: medium; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
  <caption align="top">Статистика по картам</caption>
  <thead>
    <tr>
       <th>Карта</th>
       <th>Посл<br>id</th>
       <th>посл.<br>платеж</th>
       <th>Кол-во</th>
       <th>Сумма</th>
       <th></th>
       <th>Номер карты</th>
       <th>Exp</th>
       <th>cvv</th>
       <th>Статус</th>
       <th>Комментарий</th>
    </tr>
  </thead>

  <tbody>
    {% for obj in cards %}
      <tr class="text-end">
        <td><span>{{ obj.recipient }}</span><br><span>{{obj.text}}</span></td>
        <td>{{ obj.last_id }}</td>
        <td>{{ obj.last_date|date:'d.m.Y' }}</td>
        <td>{{ obj.count }}</td>
        <td>{{ obj.sum|floatformat:0 }}</td>
        <td></td>
        <td>{{ obj.number|default_if_none:'' }}</td>
        <td>{{ obj.expire|default_if_none:'' }}</td>
        <td>{{ obj.cvv|default_if_none:'' }}</td>
        <td>{{ obj.status|default_if_none:'' }}</td>
        <td>{{ obj.text|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
  </tbody>

</table>