
  {% with request.resolver_match.view_name as view_name %}
  <div class="row my-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a 
          class="nav-link {% if view_name == 'deposit:incomings' %}active{% endif %}"
          href="{% url 'deposit:incomings' %}">
          Все платежи
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link {% if view_name == 'deposit:incomings_empty' %}active{% endif %}"
          href="{% url 'deposit:incomings_empty' %}">
          Неподтвержденные
        </a>
      </li>

      <li class="nav-item">
        <a 
           class="nav-link {% if view_name == 'deposit:incomings_filter' %}active{% endif %}"
           href="{% url 'deposit:incomings_filter' %}">
          Платежи по фильтру
        </a>
      </li>
      <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'deposit:incomings_search' %}active{% endif %}"
           href="{% url 'deposit:incomings_search' %}">
          Поиск платежей
        </a>
      </li>
      <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'deposit:trash' %}active{% endif %}"
           href="{% url 'deposit:trash' %}">
          Мусор
        </a>
      </li>
    </ul>
  </div>
  {% endwith %}
