
  {% with request.resolver_match.view_name as view_name %}
  <div class="row my-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a 
          class="nav-link {% if view_name == 'deposit:incomings' %}active{% endif %}"
          href="{% url 'deposit:incomings' %}">
          Все платежи
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link {% if view_name == 'deposit:incomings_empty' %}active{% endif %}"
          href="{% url 'deposit:incomings_empty' %}">
          Неподтвержденные
        </a>
      </li>

      <li class="nav-item">
        <a 
           class="nav-link {% if view_name == 'deposit:incoming_my_filter' %}active{% endif %}"
           href="{% url 'deposit:incoming_my_filter' %}">
          Мой фильтр
        </a>
      </li>

      <li class="nav-item">
        <a 
           class="nav-link {% if view_name == 'deposit:incomings_filter' %}active{% endif %}"
           href="{% url 'deposit:incomings_filter' %}">
          Платежи по фильтру
        </a>
      </li>
      <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'deposit:incomings_search' %}active{% endif %}"
           href="{% url 'deposit:incomings_search' %}">
          Поиск платежей
        </a>
      </li>
          <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'deposit:incoming_stat_search' %}active{% endif %}"
           href="{% url 'deposit:incoming_stat_search' %}">
          Новый поиск
        </a>
      </li>
      <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'deposit:birpay_orders' %}active{% endif %}"
           href="{% url 'deposit:birpay_orders' %}">
          birpay_orders
        </a>
      </li>
      <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'deposit:trash' %}active{% endif %}"
           href="{% url 'deposit:trash' %}">
          Мусор
        </a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          🔴 Superuser
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'deposit:z_asu_management' %}">Управление Z-ASU</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endwith %}
