{% load l10n %}
{% localize off %}
{% load filters %}
    {% load static %}
<div class="" style="align-items: flex-start; gap: 30px;">

  <div class="row">
    <div class="col-4">

        <div class="card row" style=""><b>Обновлено:</b><br>{{ object.updated_at|date:"Y-m-d H:i:s" }}</div>
        <div class="card row" style="">
            <b>UserId: {{ object.merchant_user_id }}</b>{% if object.is_moshennik%}<span style="background: red">Мошенник</span>{% endif %}<br>
            {{ object.customer_name }}<br>
            Апрув {{ object.user_order_percent }}%: {{ object.user_orders_1 }}/{{ object.total_orders }}
        </div>

    <div class="card" style="">
        <b>Возможные смс:</b><br>
        {% for incoming in object.incomings.all %}
            <div style="margin-bottom: 5px;">
                {{ incoming.id }}
                <img onclick="copyTextToClipboard({{ incoming.id }})"
                     style="opacity: 0.5; width: 20px; height: 20px; object-fit: contain;"
                     src="{% static '/img/copy.png' %}">
                {{ incoming.pay }} azn {{ incoming.response_date|date:"H:i" }} {{ incoming.recipient }}
            </div>
        {% endfor %}
    </div>    
        
    

        <div class="card row" ><b>Gpt данные: {{ object.gpt_flags|as_bin }}</b><br>
            <div class="row" style="white-space: nowrap"><span> <b>Сумма</b>: {{ gpt_data|get_item:"amount" }}</span></div>
            <div class="row" style="white-space: nowrap"><span> <b>Дата</b>: {{ gpt_data|get_item:"create_at" }}</span></div>
            <div class="row" style="white-space: nowrap"><span> <b>Получатель</b>: {{ gpt_data|get_item:"recipient" }}</span></div>
            <div class="row" style=""><span> <b>Коммент</b>: {{ gpt_data|get_item:"comment" }}</span></div>
        </div>
    </div>
    <div class="col-4">
      <div class="row">

            <!-- Основное изображение -->
            <h3>Чек заказа (ID {{ object.id }}):</h3>
            <span>M Tx ID {{ object.merchant_transaction_id }}:  b_id {{ object.birpay_id }}</span><br>
            {% if object.check_file %}
                <div style="position: relative; display: inline-block; width: 400px; height: 500px;">
                    {% if object.check_file.url|is_pdf %}
                        <embed src="{{ object.check_file.url }}#toolbar=0" width="400" height="500" type="application/pdf" style="border-radius: 6px; border: 1px solid #ccc;" />
                        <a href="{{ object.check_file.url }}" target="_blank"
                           style="position: absolute; left:0; top:0; width:100%; height:100%; z-index:10; display:block;">
                            <span style="display:none;">PDF</span>
                        </a>
                    {% else %}
                        <a href="{{ object.check_file.url }}" target="_blank">
                            <img src="{{ object.check_file.url }}" style="height: 400px; width: auto; border-radius: 6px; border: 1px solid #ccc;"/>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <span>Нет изображения чека</span>
            {% endif %}

      </div>
    </div>

      <div class="col-4">
          <!-- Дубликаты в ряд -->
            <h5>Дубликаты ({{ duplicates|length }})</h5>

              {% for double_order in duplicates %}
                <div class="row" style="text-align: left;">
                  <b>Заказ №{{ double_order.merchant_transaction_id }} от {{ double_order.created_at|date:"H:i:s" }}</b><br>
                    Статус: {{ double_order.status }}<br>
                      Сумма {{ double_order.amount }}<br>
                      {% if double_order.incoming.id  %}Смс {{ double_order.incoming.id }} от {{ double_order.incoming.register_date|date:"H:i:s" }} на {{ double_order.incoming.pay }}{% endif %}

                </div>
              {% empty %}
                <span>Дубликаты не найдены.</span>
              {% endfor %}


      </div>
  </div>
</div>
{% endlocalize %}
