{% load l10n %}
{% localize off %}
<div class="" style="align-items: flex-start; gap: 30px;">

  <div class="row">
    <div class="col-4">

        <div class="card row" style=""><b>Обновлено:</b><br>{{ object.updated_at|date:"Y-m-d H:i:s" }}</div>
        <div class="card row" style="">
            <b>UserId: {{ object.merchant_user_id }}</b><br>
            {{ object.customer_name }}<br>
            Апрув {{ object.user_order_percent }}%: {{ object.user_orders_1 }}/{{ object.total_orders }}
        </div>
        <div class="card row" style=""><b>Возможные смс:</b><br>
            {% for  incoming in object.incomings.all %}
                {{ incoming.id }} {{ incoming.pay }} azn {{ incoming.response_date|date:"H:i" }} {{ incoming.recipient }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
      <div class="row">

            <!-- Основное изображение -->
            <h3>Чек заказа:</h3>
            <b>Заказ №{{ object.merchant_transaction_id }}</b><br>
            {% if object.check_file %}
              <a href="{{ object.check_file.url }}" target="_blank">
                 <img src="{{ object.check_file.url }}"
                     style="width: 400px; height: 600px; object-fit: contain; background: #eee; cursor: pointer;"
                     onerror="this.src=''; this.alt='нет изображения';">
              </a>
            {% else %}
              <span>Нет изображения чека</span>
            {% endif %}
          
      </div>
    </div>
  
      <div class="col-4">
          <!-- Дубликаты в ряд -->
            <h5>Дубликаты ({{ duplicates|length }})</h5>

              {% for double_order in duplicates %}
                <div class="row" style="text-align: left;">
                  <b>Заказ №{{ double_order.merchant_transaction_id }} от {{ double_order.created_at|date:"H:i:s" }}</b><br>
                    Статус: {{ double_order.status }}<br>
                      Сумма {{ double_order.amount }}<br>
                      Смс {{ double_order.incoming.id }} от {{ double_order.incoming.register_date|date:"H:i:s" }} на {{ double_order.incoming.pay }}

                </div>
              {% empty %}
                <span>Дубликаты не найдены.</span>
              {% endfor %}


      </div>
  </div>
</div>

{% endlocalize %}