{% extends 'base.html' %}
{% block title %}Список платежей{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
<div class="">
{% include 'includes/switcher2.html' %}
   <table id="table" class="table  table-hover" style="font-size: medium; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
     <thead class="">
     {% with request.resolver_match.view_name as view_name %}
         {% if view_name == 'deposit:incomings_filter' %}
             Ваш фильтр на получателя: {{ user.profile.my_filter }}
             <a class="changelink" href="{% url 'deposit:my_filter' %}">Изменить</a>
         {% endif %}



     <span class="row justify-content-start">
            <div class="col-2">
            <form method="GET">
                {% csrf_token %}
                {% if search_form %}
                    {{ search_form.as_p }}
                {% endif %}
            <input class="btn btn-success" type="submit" name="date_search" value="Найти">
            </form>
            </div>

            <p id="last_id" hidden>{{ last_id }}</p>
            <p id="filter" hidden>{{ filter }}</p>
         {% if view_name != 'deposit:incomings_search' %}
         <div class="col-3" role="alert" id="warnings" style="padding:  6px 0 6px 0; margin: 0 0 0 10px">
            <!-- Здесь будут отображаться уведомления -->
            </div>
    </span>
    {% endif %}


     <tr>
           <th>id</th>
           <th>Поступил</th>
           <th>Время на чеке</th>
           <th>Получатель</th>
           <th>Отправитель</th>
           <th>Платеж</th>
           <th>Баланс</th>

           <th>Транзакция</th>
           <th>Бирпай</th>
       </tr>
     </thead>
     <tbody>
         {% for incoming in page_obj %}
         <tr id="pay{{ incoming.id }}"
                 {% if incoming.birpay_id or not incoming.birpay_id|default_if_none:'-'%}
                 class="table-active"
                 {% endif %}
         >
            <td><a class="changelink" href="{% url 'deposit:incoming_edit' incoming.id %}">{{ incoming.id }}</a></td>
            <td>{{ incoming.register_date|date:"d.m H:i" }}</td>
            <td>{{ incoming.response_date|date:"d.m H:i" }}</td>
            <td>{{ incoming.recipient }}</td>

            <td style="color: {{ incoming.color_font }}; background: {{ incoming.color_back }}">{{ incoming.sender }}</td>
            <td>{{ incoming.pay }}</td>
            <td>
                {% if incoming.balance %}
                    {{ incoming.balance }}
                {% elif incoming.image %}
                    <a target="_blank" href="/media/{{ incoming.image }}">Чек</a>
                {% endif %}
            </td>

            <td>{{ incoming.transaction|default_if_none:"" }}</td>

            <td>
                <form action="{% url 'deposit:incomings' %}" method="post">
                                    {% csrf_token %}
                    <input type="text" style="margin-bottom: -10px; margin-top: -10px; font-size: medium; height: 20px" minlength="0" maxlength="12" size="9"  value="{{ incoming.birpay_id|default_if_none:""  }}" name="{{ incoming.id }}-{{ view_name }}">

                    {% if incoming.birpay_id or not incoming.birpay_id|default_if_none:'-' %}
                      <button disabled style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-primary btn-sm">---</button>
                    {% else %}
                      <button style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-primary btn-sm">Ok</button>
                    {% endif %}
                </form>
            </td>

         </tr>
         {% endfor %}
     </tbody>
   </table>
   {% include 'includes/paginator.html' %}
{% endwith %}
</div>

{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
            function getPosts() {
        $.ajax({
            url: '/get_posts/',
            type: 'get',
            dataType: 'json',
            data: {'filter': $('#filter').text() },
            success: function(response) {
                    var last_id = $('#last_id').text()
                    var num = response[0].id
                    var count = num - last_id
                    var div = $('#warnings')
                    div.html(`Новых платежей: ${count}`);
                    if (count >= 1) {
                        div.addClass("alert alert-warning")
                    }
            }
        });
    }
    // Вызываем функцию для получения списка постов
    getPosts();
    setInterval(getPosts, 5000)
</script>
{% endblock %}