{% extends 'base.html' %}
{% block title %}Ручная корректировка{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
  <div class="container">
    <div class="row justify-content-start ">
      <div class="col col-md-auto">
        <table class="table table-bordered table-sm" style="font-size: medium">
        <thead class="thead-dark align-content-center">
           <tr>
               <th>Поле</th>
               <th>Значение</th>
           </tr>
        </thead>
        <tbody>

            <tr>
                <td>id</td>
                <td>{{ incoming.id }}</td>
            </tr>
            <tr>
                <td>Поступил</td>
                <td>{{ incoming.register_date }}</td>
            </tr>
            <tr>
                <td>Время на чеке</td>
                <td>{{ incoming.response_date }}</td>
            </tr>
            <tr>
                <td>Получатель</td>
                <td>{{ incoming.recipient }}</td>
            </tr>
            <tr>
                <td>Отправитель</td>
                <td>{{ incoming.sender }}</td>
            </tr>
            <tr>
                <td>Платеж</td>
                <td>{{ incoming.pay }}</td>
            </tr>
            <tr>
                <td>Баланс</td>
                <td>{{ incoming.balance|default_if_none:"---" }}</td>
            </tr>
            <tr>
                <td>Источник</td>
                <td>{{ incoming.worker|default_if_none:"---" }}</td>
            </tr>
            <tr>
                <td>Транзакция</td>
                <td>{{ incoming.transaction|default_if_none:"---" }}</td>
            </tr>
            <tr>
                <td>Скрин</td>
                <td>{{ incoming.image }}</td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>{{ incoming.type }}</td>
            </tr>
            <tr>
                <td>Подтверждено</td>
                <td>{{ incoming.birpay_confirm_time|default_if_none:"---"  }}</td>
            </tr>
            <tr>
                <td>Ручная корректировка</td>
                <td>{{ incoming.birpay_edit_time|default_if_none:"---"  }}</td>
            </tr>
            <tr>
                <td>Birpay id</td>
                <td>{{ incoming.birpay_id|default_if_none:"---" }}</td>
            </tr>
            <tr>
                <td>Депозит</td>
                <td>{{ incoming.confirmed_deposit|default_if_none:"---" }}</td>
            </tr>
            {{ jail_option }} 
            <tr>
                <td>Менты перекл</td>
                <td>{% if incoming.is_jail %}
                        <a href="{% url 'deposit:mark_as_jail'  incoming.id  %}">🚔 ВКЛЮЧЕНО</a>
                    {% else %}
                        <a href="{% url 'deposit:mark_as_jail'  incoming.id  %}">🚔 ОТКЛЮЧЕНО</a>
                    {% endif %}
                </td>
            </tr>

        </tbody>
        </table>

      </div>

      <div class="col col-md-3">
          {% if incoming.image %}
        <img class="img" style="object-fit: cover; object-position: 0 0" src="/media/{{incoming.image}}" width="300" height="400">
          {% endif %}
      </div>
    </div>


    <div class="row justify-content-start  col-md-3">
        <div class="col">
        <br><b>Ручная корректировка:</b>
        <form method="POST">
            {% csrf_token %}
              {% include 'includes/form_fields.html' %}
            <input type="submit" value="Сохранить">
        </form>
        </div>
    </div>

    <span>
        <hr>
          {% for log in history %}
             {{ log.time }} {{ log.user }} {{ log.val_name }} {{ log.new_val }}<br>
          {% endfor %}
    </span>
  </div>


{% endblock %}