{% extends 'base.html' %}
{% block title %}Список платежей{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
<div class="">
{% include 'includes/switcher2.html' %}
   <table class="table" style="font-size: medium; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
     <thead class="thead-dark align-content-center">
     {% with request.resolver_match.view_name as view_name %}
         {% if view_name == 'deposit:incomings_filter' %}
             Ваш фильтр на получателя: {{ user.profile.my_filter }}
             <a class="changelink" href="{% url 'deposit:my_filter' %}">Изменить</a>
         {% endif %}
     {% endwith %}

    <form method="GET">
        {% csrf_token %}
        {% if search_form %}
            {{ search_form.as_p }}
        {% endif %}
    <input type="submit" name="date_search" value="Найти">
    </form>

     <tr>
           <th>id</th>
           <th>Поступил</th>
           <th>Время на чеке</th>
           <th>Получатель</th>
           <th>Отправитель</th>
           <th>Платеж</th>
           <th>Баланс</th>
           <th>Источник</th>
           <th>Транзакция</th>
           <th>Бирпай</th>
       </tr>
     </thead>
     <tbody>
         {% for incoming in page_obj %}
         <tr style="">
            <td><a class="changelink" href="{% url 'deposit:incoming_edit' incoming.id %}">{{ incoming.id }}</a></td>
            <td>{{ incoming.register_date|date:"d.m.Y H:i" }}</td>
            <td>{{ incoming.response_date|date:"d.m.Y H:i" }}</td>
            <td>{{ incoming.recipient }}</td>

            <td style="background: {{ incoming.color_back }}">{{ incoming.sender }}</td>
            <td>{{ incoming.pay }}</td>
            <td>
                {% if incoming.balance %}
                    {{ incoming.balance }}
                {% elif incoming.image %}
                    <a class="changelink" target="_blank" href="/media/{{ incoming.image }}">Чек</a>
                {% endif %}
            </td>
            <td>{{ incoming.worker|default_if_none:"" }}</td>
            <td>{{ incoming.transaction|default_if_none:"" }}</td>

            <td>
                <form action="{% url 'deposit:incomings' %}" method="post">
                                    {% csrf_token %}
                    <input type="text" style="margin-bottom: -10px; margin-top: -10px; font-size: medium; height: 20px" minlength="0" maxlength="12" size="9"  value="{{ incoming.birpay_id|default_if_none:""  }}" name="{{ incoming.id }}">
                    {% if incoming.birpay_id %}
                      <button disabled style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-primary btn-sm">---</button>
                    {% else %}
                      <button style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-primary btn-sm">Ok</button>
                    {% endif %}
                </form>
            </td>

         </tr>
         {% endfor %}
     </tbody>
   </table>
   {% include 'includes/paginator.html' %}
</div>
{% endblock %}