{% extends 'base.html' %}
{% block title %}Список платежей{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
<div class="container-fluid ">
{% include 'includes/switcher2.html' %}


  {% with request.resolver_match.view_name as view_name %}
    {% if view_name == 'deposit:incomings_filter' %}
       Ваш фильтр на получателя: {{ user.profile.my_filter }}
       <a class="changelink" href="{% url 'deposit:my_filter' %}">Изменить</a>
    {% endif %}

    <span class="row justify-content-start">
      <div class="col-6">
        <form method="GET">

          {% if search_form %}
            {{ search_form.as_p }}
          {% endif %}
          <input class="btn btn-success " type="submit" name="date_search" value="Найти">
       </form>
      </div>
      <p id="last_id" hidden>{{ last_id }}</p>
      <p id="last_bad_id" hidden>{{ last_bad_id }}</p>
      <p id="filter" hidden>{{ filter }}</p>
      {% if view_name == 'deposit:incomings' or view_name == 'deposit:incomings_filter' %}
       <div class="col-3" role="alert" id="warnings" style="padding:  6px 0 6px 0; margin: 0 0 0 10px">
         <!-- Здесь будут отображаться уведомления -->
        </div>
      {% endif %}
    </span>


     {% include 'includes/paginator.html' %}
     <div class="container-fluid ">
     <table id="table" class="table table-bordered table-hover table-sm" style="font-size: 14px; line-height: 100%; padding: .1rem .1rem .1rem .1rem">
     <thead class="">
     <tr class="">
           <th>id</th>
           <th>T прих</th>
           <th>T на чеке</th>
           <th>Получатель</th>
           <th>Отправитель</th>
           <th>Pay</th>
           <th>Б</th>
           <th>Тр-я</th>
           <th>Pay-t</th>
           <th>Бирпай</th>
       </tr>
     </thead>
     <tbody style="text-align: end" >
         {% for incoming in page_obj %}
         <tr title="{{incoming.comment|default_if_none:'' }}" id="pay{{ incoming.id }}"
                 {% if incoming.birpay_id or not incoming.birpay_id|default_if_none:'-' or incoming.confirmed_payment != None %}
                 class="table-success"
                 {% endif %}>

            <td><a class="changelink" href="{% url 'deposit:incoming_edit' incoming.id %}">{{ incoming.id }}</a>
                {% if incoming.comment %}
                  *
                {% endif %}
            </td>
            <td>{{ incoming.register_date|date:"d.m H:i" }}</td>
            <td>{{ incoming.response_date|date:"d.m H:i" }}</td>
            <td>{{ incoming.recipient }}</td>

            <td style="color: {{ incoming.color_font }}; background: {{ incoming.color_back }}">{{ incoming.sender }}</td>
            <td>{{ incoming.pay }}</td>
            <td>
                {% if incoming.balance %}
                    {{ incoming.balance|floatformat:0  }}{% if incoming.balance %} (<span {% if incoming.check_balance|floatformat:0 != incoming.balance|floatformat:0 %}style="color: #C20000" {% endif %}>{{ incoming.prev_balance|floatformat:0 }}</span>){% endif %}
                {% elif incoming.image %}
                    <a target="_blank" href="/media/{{ incoming.image }}">Чек</a>
                {% endif %}
            </td>

            <td title="{{ incoming.transaction }}">{{ incoming.transaction|default_if_none:""|make_list|slice:'-4:'|join:'' }}</td>
            <td>{{ incoming.confirmed_payment.short_id }}</td>

         {% load l10n %}
         {% localize off %}
            <td class="text-nowrap">
                <form action="{% url 'deposit:incomings' %}" method="post">
                                    {% csrf_token %}
                    {% if incoming.birpay_id or not incoming.birpay_id|default_if_none:'-' or  incoming.confirmed_payment != None %}
                        <input type="text" style="margin-bottom: -10px; margin-top: -10px; font-size: 14px; height: 20px" minlength="0" maxlength="12" size="9"  value="{{ incoming.birpay_id|default_if_none:""  }}" name="{{ incoming.id }}-{{ view_name }}">
                      <button disabled style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-success btn-sm">---</button>
                    {% else %}
                        <input type="text" style="margin-bottom: -10px; margin-top: -10px; font-size: 14px; height: 20px" minlength="0" maxlength="12" size="9"  value="{{ incoming.birpay_id|default_if_none:""  }}" name="{{ incoming.id }}-{{ view_name }}">
                      <button style="margin-bottom: -10px; margin-top: -10px; height: 25px;font-size: small" type="submit" class="btn btn-warning btn-sm">Ok</button>
                    {% endif %}
                </form>
            </td>
         {% endlocalize %}

         </tr>
         {% endfor %}
     </tbody>
   </table>
   </div>
   {% include 'includes/paginator.html' %}
  {% endwith %}
</div>

{% endblock %}

{% block javascript %}
  {% with request.resolver_match.view_name as view_name %}
  {% if view_name != 'deposit:incomings_empty' and view_name != 'deposit:incomings_search'%}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
                function getPosts() {
            $.ajax({
                url: '/get_posts/',
                type: 'get',
                dataType: 'json',
                data: {'filter': $('#filter').text() },
                success: function(response) {
                        var last_id = $('#last_id').text().replace(/\D/g, '')
                        var num = response[0].id

                        var count = num - last_id
                        var div = $('#warnings')
                        div.html(`Новых платежей: ${count}`);
                        if (count >= 1) {
                            div.addClass("alert alert-warning")
                        }
                        {% if  request.user.profile.view_bad_warning %}
                            var current_bad_id = response[0].last_bad_id
                            var last_bad_id = $('#last_bad_id').text().replace(/\D/g, '')
                            var count_bad_screen = current_bad_id - last_bad_id
                            console.log(current_bad_id)
                            console.log(last_bad_id)
                            console.log(count_bad_screen)
                            if (count_bad_screen > 0) {
                                alert('Проблема с работой макроса!');
                                document.getElementById("last_bad_id").textContent=current_bad_id.toString();
                            }
                        {% endif %}

                }
            });
        }
        // Вызываем функцию для получения списка постов
        getPosts();
        setInterval(getPosts, 5000)
    </script>
    {% endif %}
    {% endwith %}
{% endblock %}