{% extends 'base.html' %}
{% block title %}Домашняя страница{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
    <div class="">
      {% include 'includes/switcher2.html' %}
    </div>

    <div>
        <table id="table" class="table w-auto table-hover table-bordered" style="font-size: medium; line-height: 100%; padding: .1rem .1rem .1rem .1rem">

          <thead>
            <tr>
               <th>Карта</th>
               <th>Посл id</th>
               <th>посл. платеж</th>
               <th>Кол-во</th>
               <th>Сумма</th>
            </tr>
          </thead>

          <tbody>
              {% for obj in cards %}
                <tr class="text-end">
                  <td>{{ obj.recipient }}</td>
                  <td>{{ obj.last_id }}</td>
                  <td>{{ obj.last_date }}</td>
                  <td>{{ obj.count }}</td>
                  <td>{{ obj.sum }}</td>
                </tr>
              {% endfor %}
          </tbody>

        </table>
    </div>

{% endblock %}